#{extends 'main.html' /}
#{set title:'Signup' /}
#{welcomemenu id:"signup"/}

<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui stacked segment form" action="/register" method="POST">
            <h3 class="ui header">Register</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstname">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastname">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label> Gender </label>
                    <select class="ui dropdown " name="gender" title="">
                        <option value=""> Select</option>
                        <option value="male"> Male</option>
                        <option value="female"> Female</option>
                    </select>
                </div>
                <div class="field">
                    <label> Address </label>
                    <input placeholder="Eircode" name="address" required>
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label> Height </label>
                    <input placeholder="(meters)" type="number" step=".01" min="1" max="3"
                           name="height" required>
                </div>
                <div class="field">
                    <label> Starting Weight </label>
                    <input placeholder="(kgs)" type="number" step=".01" min="35"
                           max="250" name="startingWeight" required>
                </div>
                <div class="field">
                    <label> Date of Birth </label>
                    <input placeholder="(dd/mm/yy)" type="date" name="dateofbirth" required>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label> Email </label>
                    <input placeholder="email" type="email" name="email" required>
                </div>
                <div class="field">
                    <label> Password </label>
                    <input placeholder="password" type="password" name="password" required>
                </div>
            </div>

            <button class="ui blue submit button">
                <div class="visible content"><i class="arrow circle up icon"></i>Sign Up</div>
            </button>

        </form>
    </div>
    <div class="column">
        <img class="ui image" src="https://media4.giphy.com/media/3o7TKVUn7iM8FMEU24/giphy.gif">
    </div>
</div>