#{extends 'main.html' /}
#{set title:'Start' /}
#{welcomemenu id:"start"/}

<section class="ui inverted brown segment">
    <section class="ui yellow center aligned segment">
        <div class="ui two column grid basic middle aligned segment">
            <div class="column">
                <h3><b><i>Sign up to The Real Gym </i><br>
                    <br><i>Sign up now and don't miss out! </i></b></h3>
                <img class="ui centered medium image" src="https://media.giphy.com/media/3orieKRjkyDUti23sY/giphy.gif">
            </div>

            <div class="column">
                <h2 class="ui blue header "> " The Real Gym "
                </h2>
                <p><i>Gym Park Road,<br>Wexford.</i><br><br>
                    <strong><i class="call icon"></i>telephone:</strong> <em> 1850 727927</em><br>
                    <strong><i class="mail icon"></i>email:</strong> <em> realgym@gmail.com</em><br>
                    <strong><i class="world icon"></i>website:</strong><em> www.therealgym.com</em>
                </p>
            </div>
        </div>
    </section>
</section>